.card {
    width: 30%;
    padding: 50px
}

.center {
    justify-content: center;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url("../images/login-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}